.projectContainer {
  z-index: 1;
  padding: 15px 30px;
}

.projectContainer .projectData {
  margin-bottom: 10px;
  max-width: 75%;
}

.projectContainer .projectData p {
  margin-bottom: 15px;
}

.projectContainer .projectData .projectSkill {
  display: initial;
  margin-bottom: initial;
  text-align: initial;
  
  background-color: white;
  color: black;
  margin-right: 3px;
  border-radius: 2px;
  padding: 0 3px;
}

.projectContainer .projectData .projectMate {
  display: initial;
  margin-bottom: initial;
  text-align: initial;
  
  margin-right: 3px;
}

.projectContainer .projectImageContainer {
  position: relative;
  padding: 10px;
}

.projectContainer .projectImageContainer::before,
.projectContainer .projectImageContainer::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url('/corner.png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
  z-index: 2;
}

.projectContainer .projectImageContainer::before {
  top: 0;
  left: 0;
}

.projectContainer .projectImageContainer::after {
  bottom: 0;
  right: 0;
  transform: rotateZ(180deg);
}

.projectContainer span {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
  text-align: right;
  padding-right: 5px;
}