.projectContainer {
  z-index: 1;
  padding: 15px 30px;
}

.projectContainer .projectData {
  margin-bottom: 10px;
  max-width: 75%;
}

.projectContainer .projectData p {
  margin-bottom: 15px;
}

.projectContainer .projectData .projectSkill {
  display: initial;
  margin-bottom: initial;
  text-align: initial;
  
  background-color: white;
  color: black;
  margin-right: 3px;
  border-radius: 2px;
  padding: 0 3px;
}

.projectContainer .projectData .projectMate {
  display: initial;
  margin-bottom: initial;
  text-align: initial;
  
  margin-right: 3px;
}

.projectContainer .projectImageContainer {
  display: grid;
  width: fit-content;
  max-width: 100%;
}

.projectContainer span {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
  text-align: right;
}

.projectContainer .projectImageContainer span {
  margin-top: 2px;
  margin-bottom: 10px;
}