:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html { scroll-behavior: smooth; }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 0.75rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  font-size: smaller;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-rows: 1fr 20px;
  align-items: start;
  justify-items: center;
  min-height: 100svh;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: violet;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.pageContainer {
  z-index: 1;
  width: 350px;
  align-self: center;

  background: rgba(0, 0, 0, 0.5);
  padding: 15px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.pageContainer.contactPage {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 15px;
}

ul li {
  padding: 3px 0;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: violet;
}
